<section id="home">
  <div class="container">
    <div class="text-center">
      @if (!registerMode) {
      <h1>Find Your Matches</h1>
      <p>Come on in to view your matches... all you need to do is sign up!</p>
      <div class="text-center">
        <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">
          Register
        </button>
        <button class="btn btn-info btn-lg me-2">Learn more</button>
      </div>
      } @else {
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <form
              #registerForm="ngForm"
              (ngSubmit)="register()"
              autocomplete="off"
            >
              <h2 class="text-center text-primary">Sign Up</h2>
              <hr />
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" />
              </div>
              <div class="form-group mt-3 text-center">
                <button class="btn btn-success me-2" type="submit">
                  Register
                </button>
                <button class="btn btn-default me-2" (click)="cancel()" type="submit">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
