<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        @if (loggedIn) {
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/members"
            routerLinkActive="active"
            aria-current="page"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/lists"
            routerLinkActive="router-link-active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>
        }
      </ul>

      @if(loggedIn) {

      <div class="btn-group" dropdown>
        <img width="30" height="30" src="{{ user?.PhotoUrl }}" alt="{{user?.Username}}">
        <a
          id="button-animated"
          dropdownToggle
          type="button"
          class="dropdown-toggle text-light"
          aria-controls="dropdown-animated"
        >
          Welcome {{ user?.unique_name | titlecase }}
        </a>
        <ul
          id="dropdown-animated"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-animated"
        >
          <li>
            <a routerLink="/members/{{ user?.Id }}/edit" class="dropdown-item"
              >Profile</a
            >
          </li>

          <div class="dropdown-divider"></div>

          <li>
            <a class="dropdown-item" href="#" (click)="Logout()">Logout</a>
          </li>
        </ul>
      </div>

      } @if(!loggedIn) {
      <form
        [formGroup]="loginForm"
        (ngSubmit)="Login()"
        class="d-flex my-2 ms-auto my-lg-0"
      >
        <input
          formControlName="email"
          class="form-control me-sm-2"
          type="email"
          placeholder="Email"
        />
        <input
          formControlName="password"
          class="form-control me-sm-2"
          type="password"
          placeholder="Password"
        />
        <button class="btn btn-success my-2 my-sm-0" type="submit">
          <div class="d-flex flex-row align-items-center">
            <span>Login</span>
            <span class="spinner-border d-none spinner-border-sm"></span>
          </div>
        </button>
      </form>
      }
    </div>
  </div>
</nav>
