<div class="card">
  <div class="card-img-wrapper">
    <!-- get the photo with IsMain bool -->
    <img
      class="img-fluid"
      [src]="member?.photoUrl"
      [alt]="member?.displayName"
    />
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button routerLink="/members/{{ member?.id }}" class="btn btn-primary">
          <i class="fa fa-user"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button (click)="toggleLike(member!.id)" class="btn btn-primary"><i class="fa fa-heart"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa fa-envelope"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-user me-2"></i>
      {{ member?.displayName }} , {{ member?.age }}
      @if (hasLikes()) {
        <i class="fa fa-heart me-2 text-danger"></i>
      }
    </h6>
    <p class="card-text text-muted text-center">{{ member?.address?.city }}</p>
  </div>
</div>
